**.prefs 
**.project

**/platforms/ios/www/css/
**/platforms/ios/www/js/
**/platforms/ios/www/img/
**/platforms/ios/www/*i18n/
**/platforms/ios/www/index.html
**/platforms/ios/www/pom.xml
**/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/
**/platforms/ios/CordovaReuse.xcodeproj/xcuserdata/
**/platforms/ios/CordovaReuse.xcodeproj/project.xcworkspace/xcuserdata/
**/platforms/android/*.gradle
**/platforms/android/assets/www/css/
**/platforms/android/assets/www/js/
**/platforms/android/assets/www/img/
**/platforms/android/assets/www/*i18n/
**/platforms/android/assets/www/cordova-js-src/
**/platforms/android/assets/www/index.html
**/platforms/android/assets/www/pom.xml
**/platforms/android/bin/
**/platforms/android/gen/
**/platforms/android/CordovaLib/build/
**/android_sdk/
target/
bin/
resources/
!**/plugins/**/bin/
.repository
.settings



